{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <main>
        <section> 
            <h1>{{name}}</h1>
            <b>Birth.</b> {{birthdate}},
            <div class="mb-3">
                {{birthplace}}
            </div>           
            <b>Death.</b> {{deathdate}},           
            <div class="mb-3">
                {{deathplace}}
            </div>            
            <b>Nationality:</b> {{nationality}}
            <div class="mt-3">
                <b>Occupation:</b> {{occupation}}
            </div>
        </section>
        <hr class="mb-3">
        <section>
            <h2>Known for:</h2> 
            <ul>
                {{#each known_for}}
                <li>
                    {{this}}
                </li>    
                {{/each}}
            </ul>    
        </section>
        <hr class="mb-3">
        <section>
            <h3>Education:</h3>
            <ul>
                {{#each education}}
                    <li>
                        <div class="mb-2">
                            {{institution}}, ({{year}})
                        </div>                        
                        {{field}},
                        {{degree}}
                    </li>
                {{/each}}
            </ul>
        </section>
        <hr class="mb-3">
        <section>
            <h4>Notable publications:</h4>
            <ul>
                {{#each notable_publications}}
                    <li>
                        <em>{{title}}</em>
                        <div class="mb-4">
                             {{publisher}} ({{year}})
                        </div>
                    </li>
                {{/each}}    
            </ul>
        </section>
        <hr class="mb-3">
        <section>
            <h4>Partners:</h4>
            <ul>
                {{#each partners}}
                    <li>
                        <em>{{name}}</em>
                        <div class="mb-3">
                            {{relationship}} ({{years}})
                        </div>
                    </li>
                {{/each}}    
            </ul>
        </section>
        <hr class="mb-3">
        <section>
            <h4>Awards:</h4>
            <ul>
                {{#each awards}}
                    <li>
                        <em>{{title}}</em>
                        ({{year}})
                        <div class="mb-3">
                            "{{description}}" 
                        </div>
                    </li>
                {{/each}}
            </ul>           
        </section>
        <hr class="mb-3">
        <section>
            <h4>Influences:</h4>
            <ul>
                {{#each influences}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>           
        </section>
         <section>
            <h4>Influenced:</h4>
            <ul>
                {{#each influenced}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>           
        </section>
        <hr class="mb-3">
         <section>
            <h4>Quotes:</h4>
            <ul>
                {{#each quotes}}
                    <li>
                        <em>"{{this}}"</em>
                    </li>
                {{/each}}
            </ul>           
        </section>
        <hr class="mb-3">
        <section>
            <h4>Major discoveries:</h4>
            <ul>
                {{#each major_discoveries}}
                    <li>
                        <em>"{{title}}"</em> ({{year}})
                        <div class="mb-3 mt-2">
                            <b>Description:</b> {{description}}
                        </div>
                    </li>
                {{/each}}
            </ul>           
        </section>
        <hr class="mb-3">
        <section>
            <h4>Contributions:</h4>           
                {{#with contributions}}
                    <div class="mt-2">                 
                        <b>Field:</b> {{field}}
                    </div>
                    <em>"{{title}}"</em> ({{year}}) 
                    <div class="mb-3 mt-2">
                        <b>Description:</b> {{description}}
                    </div>                
                {{/with}}                       
        </section>
    </main>
</div>



{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
