{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <main>
        <section>
            <h1>{{name}}</h1>
            {{description}}
            <div class="mt-3">
                <b>History:</b>
            </div>
            {{#with history}}
                <div class="mt-1">
                    Founder: {{founder}} ({{year}})
                </div>
            {{/with}}
        </section>
        <section>
            <div class="mt-3">
                <b>Types:</b>
            </div>
            <ul>
                {{#each types}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <div class="mb-2">
                <b>Syntax:</b>
            </div>            
            {{#with syntax}}
                Variables:
                <ul>
                    {{#each variables}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                Functions:
                <ul>
                    {{#each functions}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                Conditionals:
                <ul>
                    {{#each conditionals}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                Loops:
                <ul>
                    {{#each loops}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                Classes:
                <ul>
                    {{#each classes}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
            {{/with}}
            <div class="mt-3">
                <b>Features:</b>
            </div>
            <ul>
                {{#each features}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <b>Libraries:</b>
            <ul>
                {{#each libraries}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <b>Tools:</b>
            <ul>
                {{#each tools}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <b>Community:</b>
            <ul>
                {{#each community}}
                    <li>
                        {{name}}
                        <span class="badge rounded-pill text-bg-primary">{{type}}</span>           
                    </li>
                {{/each}}
            </ul>
        </section>
    </main>
</div>



{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
