{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <main>
        <secrion>
            <h1>Apple MacBook Pro</h1>
            <div class="mt-1">
                Description: <em>{{description}}</em>
            </div>
            <div class="mt-1">
                Price: <em>{{price}}</em>
            </div> 
        </secrion>
        <section>
            <div class="mt-3">
                Category: <strong>{{category}}</strong>
            </div>         
            <div class="mt-2">
                <p><b>Features:</b></p>
            </div>
            {{#with features}}
                <div class="mt-1">
                    <em>Pricessor:</em>
                </div>          
                {{#with processor}}
                    <ul>
                        <li>Brand: {{brand}}</li>
                        <li>Model: {{model}}</li>
                        <li>Speed: {{speed}}</li>
                        <li>Cores: {{cores}}</li>
                        <li>Cache: {{cache}}</li>
                    </ul>
                {{/with}}                
                <em>Memory:</em>
                {{#with memory}}
                    <ul>
                        <li>Type: {{type}}</li>                       
                        <li>Size: {{size}}</li>                       
                        <li>Speed: {{speed}}</li>
                    </ul>
                {{/with}}                                
                <em>Storage:</em>
                {{#with storage}}
                    <ul>
                        <li>Type: {{type}}</li>
                        <li>Size: {{size}}</li>
                    </ul>
                {{/with}}                            
                <em>Display:</em>                
                {{#with display}}
                    <ul>
                        <li>Size: {{size}}</li>
                        <li>Resolution: {{resolution}}</li>                        
                        <li>Technology: {{technology}}</li>                        
                        <li>Color space: {{color_space}}</li>                        
                        <li>Brightness: {{brightness}}</li>                        
                        <li>Refresh rate: {{refresh_rate}}</li>
                    </ul>
                {{/with}}
                <em>Graphics:</em> 
                {{#with graphics}}
                    <ul>
                        <li>Brand: {{brand}}</li>
                        <li>Model: {{model}}</li>                        
                        <li>Memory: {{memory}}</li>
                    </ul>
                {{/with}}
                <em><b>Ports:</b></em>
                <ol>
                    {{#each ports}}
                        <li>
                            <b>Type: {{type}}</b>
                            <ul>
                                <li>Count: {{count}}</li>
                                {{#if features}}                    
                                    <li>
                                        <em>Features:</em>                                           
                                        <ul>
                                            {{#each features}}
                                                <li>{{this}}</li>
                                            {{/each}}
                                        </ul>                     
                                    </li>
                                {{/if}}
                            </ul>
                        </li>
                    {{/each}}
                </ol>
                <div class="mt-3">
                    <em>Battery:</em>
                </div>
                {{#with battery}}
                    <ul>
                        <li>Type: {{type}}</li>                           
                        <li>Capacity: {{capasity}}</li>                            
                        <li>Life: {{life}}</li>
                    </ul>
                {{/with}}
                <div class="mt-3">
                    <em>Weight:</em>
                </div>
                {{weight}}
                <div class="mt-3">
                    <em>Dimensions:</em>
                </div>
                {{#with dimensions}}
                    <ul>
                        <li>Height: {{height}}</li>
                        <li>Width: {{width}}</li>
                        <li>Depth: {{depth}}</li>
                    </ul>
                {{/with}}
                <div class="mt-3 mb-3">
                    <em>Operating system:</em>
                {{operating_system}}
                </div>
                <div class="mt-3">
                    <em>Accessories:</em>
                </div>
                <ul>
                    {{#each accessories}}
                        <li>
                            <div class="mt-3">
                                {{name}}
                            </div>
                            <div class="mt-1">
                                Price:{{price}}
                            </div>
                        </li>
                    {{/each}}
                </ul>
            {{/with}}            
        </secrion>
    </main>
</div>



{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
