<div>
    {{#with person}}
        <main>
            <section>
                <h1>{{name}}</h1>
                <div class="mt-3">
                    <strong>Age: {{age}}</strong>
                </div>                   
                <div class="mt-1">
                    <strong>Gender: {{gender}}</strong>
                </div>               
                <div class="mt-1 mb-1">
                    {{#with address}}
                        <address>{{zip}}, {{country}}, {{state}}, 
                        {{city}}, {{street}}</address>
                    {{/with}}
                </div>
            </section>
            <hr class="mt-1 mb-2">
            <section>
                <div class="mb-2">
                    <h2>
                        Education
                    </h2>
                </div>
                <div>
                    <ul>
                        {{#each education}}
                            <li>
                                {{university}}, 
                                <div class="mt-2 mb-2">
                                    {{major}} ({{graduationYear}})
                                </div>
                                Degree: {{degree}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </section>
            <hr class="mt-1 mb-2" >
            <section>
                <div>
                    <h2>
                        Work experience
                    </h2>
                </div>
                <div>
                    <ul>
                        {{#each workExperience}}
                            <li>
                                <div class="mb-2 mt-2">
                                    {{company}} (Year founded:{{year_founded}}),
                                </div>
                                {{industry}},
                                <div class="mb-2 mt-3">
                                    <b>Title:</b> {{title}}, 
                                </div>
                                (from {{startDate}} to {{endDate}}),
                                <div class="mt-3">
                                    <h3>Responsibilities:</h3>
                                </div>                              
                                <ul>
                                    {{#each responsibilities}}
                                        <li>
                                            {{this}}
                                        </li>
                                    {{/each}}
                                </ul>
                                <div class="mt-3">
                                    <h3>Employee:</h3>
                                </div>                                                             
                                <ul>
                                    {{#each employees}}
                                        <li>
                                            <div class="mt-3">
                                                <b>{{name}}</b>
                                            </div>                                          
                                            <b>Department:</b> {{department}},                                           
                                            {{position}}
                                            <div class="mt-3">                                                                                    
                                                <h4>Project:</h4>
                                            </div>
                                            <ul>
                                                {{#each projects}}
                                                    <li>
                                                        {{name}} ({{status}}),
                                                        <div class="mt-3">
                                                            <b>Description:</b> {{description}}
                                                        </div>
                                                        <h5>Teams:</h5>                                  
                                                        <ul>                                                           
                                                            {{#each teams}}
                                                                <li>
                                                                    {{team_name}}
                                                                    
                                                                    {{#with team_leader}}
                                                                        <div class="mt-3 mb-1">
                                                                        <b>{{title}}:</b> {{name}}
                                                                        </div>
                                                                        ({{email}})
                                                                    {{/with}}
                                                                    <div class="mt-3">
                                                                        <h6>Team members:</h6>
                                                                    </div>
                                                                    <ul>
                                                                        {{#each team_members}}
                                                                            <li>
                                                                                <b>{{title}}:</b> {{name}}
                                                                                ({{email}})
                                                                                <div class="mt-3">
                                                                                    <h6>Skills:</h6>
                                                                                </div>
                                                                                <ul>
                                                                                    {{#each skills}}
                                                                                        <li>
                                                                                            {{this}} 
                                                                                        </li>
                                                                                    {{/each}}
                                                                                </ul>
                                                                                <div class="mt-3">
                                                                                    <h6>Projects:</h6>
                                                                                </div>
                                                                                <ul>
                                                                                    {{#each projects}}
                                                                                        <li>
                                                                                            {{name}}
                                                                                            <div class="mt-1 mb-3">
                                                                                                <b>Description:</b> {{description}}
                                                                                            </div>
                                                                                            <h6>Technologies:</h6>
                                                                                            <ul>
                                                                                                {{#each technologies}}
                                                                                                <li>
                                                                                                    {{this}}
                                                                                                </li>
                                                                                                {{/each}}
                                                                                            </ul>
                                                                                            <div class="mt-3">
                                                                                                <h6>Team members:</h6>
                                                                                            </div>
                                                                                            <ul>
                                                                                                {{#each team_members}}
                                                                                                    <li>
                                                                                                        <b>{{title}}:</b> {{name}}
                                                                                                    </li>
                                                                                                {{/each}}
                                                                                            </ul>
                                                                                        </li>
                                                                                    {{/each}}
                                                                                </ul>    
                                                                            </li>
                                                                        {{/each}}
                                                                    </ul>
                                                                </li>
                                                            {{/each}}
                                                        </ul>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </li>
                                    {{/each}}
                                </ul>                                   
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </section>
        </main>
    {{/with}}
</div>