{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <main>
        {{#with program.excursion}}
            <section>
                <div class="mb-3">       
                    <h1>{{name}}</h1>
                </div>
                {{#with location}}
                    <strong>
                        {{country}}, {{city}}
                    </strong>
                {{/with}}
                <div class="mt-3">
                    <b>{{date}}</b>
                </div>                        
            </section>
            <hr class="mt-3 mb-3">
            <section>
                <ul>
                    {{#each program}}
                        <li>
                            <div class="mt-3 mb-2">
                                <h2>{{name}}</h2>
                            </div>
                            <div class="mt-1">
                                Type: {{type}}
                            </div>
                            <div class="mt-1 mb-1">
                                Duration:{{duration}}
                            </div>
                            {{#with details}}
                                {{#with museum}}
                                    <b>Museum:</b> 
                                    {{name}}                                
                                    {{#with location}}
                                        <div class="mt-1 mb-1">
                                            <b>Location:</b>
                                        </div>
                                        {{country}},
                                        {{city}},
                                        {{address}}
                                    {{/with}}
                                    <div class="mt-3 mb-2">
                                        <h3>"Exhibits"</h3>
                                    </div>
                                    <ul>
                                        {{#each exhibits}}                                            
                                            <li>                                           
                                                <em>{{name}}</em>
                                                {{#if audio_guide}}
                                                    (Audio-guide)
                                                {{else}}
                                                    (No audio-guide)
                                                {{/if}}                                                
                                                {{#if artist}}
                                                    Artist: {{artist}}                                                    
                                                {{/if}}
                                                <div class="mt-1 mb-1">
                                                    Description: <p>{{description}}</p>
                                                </div>                                              
                                            </li>
                                        {{/each}}                                        
                                    </ul>
                                {{/with}}
                                {{#with venue}}
                                    <b>Venue:</b> {{name}}                                    
                                    {{#with location}}
                                        <div class="mt-1 mb-1">
                                            <b>Location:</b>
                                        </div>
                                        {{country}},
                                        {{city}},
                                        {{address}}
                                    {{/with}}   
                                {{/with}}
                                {{#if performers}}
                                    <div class="mt-3 mb-2">
                                        <h3>"Performers"</h3>
                                    </div>
                                    <ul>
                                        {{#each performers}}
                                            <li>
                                                <em>{{name}}</em>
                                                {{type}}                                               
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{/if}}                                
                                {{#with guide}}
                                    <b>Guide:</b>                        
                                    {{name}}
                                    <div class="mt-1 mb-1">
                                        Language: {{language}}
                                    </div>
                                    Rating: {{rating}}
                                {{/with}}                                                                   
                            {{/with}}                            
                        </li>
                        <hr class="mt-3 mb-3">
                    {{/each}}
                </ul>
            </section>
        {{/with}}
    </main>
</div>



{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
