<main class="">   
    <div class="row m-3">
        <div class="col-12">
            {{#with navigation}}
                <div class="card mt-5 mb-5"> 
                    <div class="nav nav-tabs">                                                          
                        {{#each links}}                            
                            <div class="nav-item">
                                <a href="{{href}}" class="nav-link">{{text}}</a>
                            </div>
                        {{/each}}   
                        <div class="nav-item">
                            <a href="#" class="nav-link disabled">Disabled</a>
                        </div>                 
                    </div>
                </div> 
            {{/with}}
            {{#with newsBlock}}
                <div class="text-center"><h3>{{title}}</h3></div>
                <div class="row gy-3 gx-2">
                    {{#each cards}}
                        <div class="col-3">
                            <div class="card text-bg-dark small">
                                <div class="card-header">
                                    <strong>{{title}}</strong>
                                    {{#if isTop}}
                                        <span class="badge text-bg-danger rounded pill">
                                            Top
                                        </span>                    
                                    {{/if}}
                                    {{#if isNew}}
                                        <span class="badge text-bg-success rounded pill">
                                            New
                                        </span>
                                    {{/if}}
                                </div>
                                <div class="card-body">
                                    {{description}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/with}}
            <hr class="mt-5 mb-5"> 
            {{#with goodsBlock}}
                <div class="nav nav-tabs">
                    {{#each tabs}}
                        <div class="nav-item">                        
                            <a class="nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}">{{text}}</a>
                        </div>
                    {{/each}}
                </div>
                <div class="row gy-3 gx-2 mt-4">
                    {{#each cards}}                    
                        <div class="col-4">
                            <div class="card text-bg-light">
                                <img class="card-img-top" src="{{image}}" 
                                    alt="Product photo"> 
                                <div class="card-body">
                                    <div class="card-title">
                                        <b>{{title}}</b>
                                        {{#if isHot}}
                                            <span class="badge text-bg-warning rounded pill text-uppercase">
                                                Hot
                                            </span>
                                        {{/if}} 
                                        {{#if isHot}}
                                            <span class="badge text-bg-primary rounded pill">
                                                New
                                            </span>
                                        {{/if}}                                                    
                                    </div> 
                                    {{description}}
                                </div>                            
                            </div>
                        </div>                   
                    {{/each}}
                </div> 
            {{/with}}
            <hr class="mt-5 mb-5">
            {{#with subscribe}}
                <div class="card text-bg-dark">
                    <div class="card-body">
                        <h2>{{header}}</h2>
                        <p>{{description}}</p>
                        {{#each buttons}}
                            <div class="pt-2">
                                <a href="{{link}}" class="btn text-bg-primary">{{text}}</a>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/with}}
            <hr class="mt-5 mb-5">
            {{#with service}}
                <div class="card text-bg-success text-center">
                    <div class="card-body">                       
                        <h2>{{title}}</h2>
                        <p>{{description}}</p>                        
                        {{#each buttons}}
                            <div class="pt-2">
                                <a href="{{link}}" class="btn text-bg-primary">{{text}}</a>
                            </div>
                        {{/each}}                        
                    </div>
                </div>
            {{/with}}
            <hr class="mt-5 mb-5">
            <div class="row">               
                {{#each footer}}
                    <div class="nav col-2"> 
                        {{#with this.[0]}}        
                            <a class="nav-link" href="{{link}}">{{text}}</a> 
                        {{/with}}
                        {{#with this.[1]}}        
                            <a class="nav-link" href="{{link}}">{{text}}</a> 
                        {{/with}}
                            {{#with this.[2]}}        
                            <a class="nav-link" href="{{link}}">{{text}}</a> 
                        {{/with}}
                        {{#with this.[3]}}        
                            <a class="nav-link disabled" href="{{link}}">{{text}}</a> 
                        {{/with}}
                    </div>                               
                {{/each}}                
            </div>
        </div>   
    </div>    
</main>