{{#if isFirst}}
    <h3>{{name}}</h3>
{{else}}
    <div class="mb-2">
        Name: {{name}}
    </div> 
{{/if}}
{{#with user}}
    <div class="mb-1">
        Gender: {{gender}}
    </div>
    <div class="mt-1">
        Age: {{age}}
    </div>
    <div class="mt-1">
        ID: {{id}}
    </div>
    {{#if friends}}
        <div class="mt-3">           
            <em><b>Friends:</b></em>
        </div>
        {{#each friends}}
            <ul>
                <li>
                    {{> user user=this}}
                </li>
            </ul>
        {{/each}}
    {{/if}}
    {{#if mutual_friends}}
        <div class="mt-3">           
            <em><b>Mutual friends:</b></em>
        </div>
        {{#each mutual_friends}}
            <ul>
                <li>
                    {{> user user=this}}
                </li>
            </ul>
        {{/each}}
    {{/if}}
    {{#if groups}}
        <div class="mt-3">
            <em><b>Groups:</b></em>
        </div>
        {{#each groups}}
            <ul>
                <li>
                    {{> group group=this}}
                </li>
            </ul>
        {{/each}}       
    {{/if}}
{{/with}}